#page-content {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(29, 29, 29);
}

.alert {
    width: 90%;
    margin: 0 auto;
}

.leftLayout {
    width: 50%;
    float: left;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 5px;
}

.rightLayout {
    max-width: 30%;
    display: inline-block;
}

.rightLayout .avatar .userIMG {
    border: gray 2px double;
}

.rightLayout .avatar .btn {
    border: gray 2px double;
}

.rightLayout .avatar .btn .v-btn {
    width: 100%;
}

.card {
    flex: auto;
    margin: 5px 5px 5px 5px;
}

#tab {
    min-height: 100%;
}